# Objective

**Analysis of sample data sets with visualizations to understand the popularity of different content categories.**

## Data cleaning - steps to follow

- removing rows that have values which are missing,
- changing the data type of some values within a column, and
- removing columns which are not relevant to this task

## Data Modelling

### Create a final data set by merging your three tables together

We recommend using the Reaction table as your base table, then first join the relevant columns from your Content data set, and then the Reaction Types data set.

### Figure out the Top 5 performing categories

Add up the total scores for each category.

### The end result

This should be one spreadsheet which contains:

- A cleaned dataset
- The top 5 categories

## Definitions

**Reaction**
- <u>Content ID</u>: Unique ID of a piece of content that was uploaded 
- <u>User ID</u>: Unique ID of a user that exists in the User table who reacted to this piece of content
- <u>Type</u>: A string detailing the type of reaction this user gave
- <u>Datetime</u>: The date and time of this reaction

**ReactionTypes**
- <u>Type</u>: A string detailing the type of reaction this user gave
- <u>Sentiment</u>: A string detailing whether this type of reaction is considered as positive, negative or neutral
- <u>Score</u>: This is a number calculated by Social Buzz that quantifies how “popular” each reaction is. A reaction type with a higher scoreshould be considered as a more popular reaction

**Content**
- <u>ID</u>: Unique ID of the content that was uploaded (automatically generated)
- <u>User ID</u>: Unique ID of a user that exists in the User table
- <u>Type</u>: A string detailing the type of content that was uploaded
- <u>Category</u>: A string detailing the category that this content is relevant to
- <u>URL</u>: Link to the location where this content is stored

# Load Libraries

In [24]:
import numpy as np
import pandas as pd

# Load csv files

In [49]:
path_to_file = 'Reactions.csv'
reactions_df = pd.read_csv(path_to_file)

In [50]:
path_to_file = 'ReactionTypes.csv'
reaction_types_df = pd.read_csv(path_to_file)

In [51]:
path_to_file = 'Content.csv'
content_df = pd.read_csv(path_to_file)

# Exploratory Data Analysis

In [52]:
reactions_df.head()

,Unnamed: 0,Content ID,User ID,Type,Datetime
0,0,97522e57-d9ab-4bd6-97bf-c24d952602d2,NaN,NaN,2021-04-22 15:17:15
1,1,97522e57-d9ab-4bd6-97bf-c24d952602d2,5d454588-283d-459d-915d-c48a2cb4c27f,disgust,2020-11-07 09:43:50
2,2,97522e57-d9ab-4bd6-97bf-c24d952602d2,92b87fa5-f271-43e0-af66-84fac21052e6,dislike,2021-06-17 12:22:51
3,3,97522e57-d9ab-4bd6-97bf-c24d952602d2,163daa38-8b77-48c9-9af6-37a6c1447ac2,scared,2021-04-18 05:13:58
4,4,97522e57-d9ab-4bd6-97bf-c24d952602d2,34e8add9-0206-47fd-a501-037b994650a2,disgust,2021-01-06 19:13:01

In [53]:
reactions_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25553 entries, 0 to 25552
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  25553 non-null  int64
 1   Content ID  25553 non-null  object
 2   User ID     22534 non-null  object
 3   Type        24573 non-null  object
 4   Datetime    25553 non-null  object
dtypes: int64(1), object(4)
memory usage: 998.3+ KB

In [54]:
reaction_types_df.head()

   Unnamed: 0        Type Sentiment  Score
0           0       heart  positive     60
1           1        want  positive     70
2           2     disgust  negative      0
3           3        hate  negative      5
4           4  interested  positive     30

In [55]:
reaction_types_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16 entries, 0 to 15
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  16 non-null     int64
 1   Type        16 non-null     object
 2   Sentiment   16 non-null     object
 3   Score       16 non-null     int64
dtypes: int64(2), object(2)
memory usage: 640.0+ bytes

In [56]:
content_df.head()

,Unnamed: 0,Content ID,User ID,Type,Category,URL
0,0,97522e57-d9ab-4bd6-97bf-c24d952602d2,8d3cd87d-8a31-4935-9a4f-b319bfe05f31,photo,Studying,https://socialbuzz.cdn.com/content/storage/975...
1,1,9f737e0a-3cdd-4d29-9d24-753f4e3be810,beb1f34e-7870-46d6-9fc7-2e12eb83ce43,photo,healthy eating,https://socialbuzz.cdn.com/content/storage/9f7...
2,2,230c4e4d-70c3-461d-b42c-ec09396efb3f,a5c65404-5894-4b87-82f2-d787cbee86b4,photo,healthy eating,https://socialbuzz.cdn.com/content/storage/230...
3,3,356fff80-da4d-4785-9f43-bc1261031dc6,9fb4ce88-fac1-406c-8544-1a899cee7aaf,photo,technology,https://socialbuzz.cdn.com/content/storage/356...
4,4,01ab84dd-6364-4236-abbb-3f237db77180,e206e31b-5f85-4964-b6ea-d7ee5324def1,video,food,https://socialbuzz.cdn.com/content/storage/01a...

In [57]:
content_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  1000 non-null   int64
 1   Content ID  1000 non-null   object
 2   User ID     1000 non-null   object
 3   Type        1000 non-null   object
 4   Category    1000 non-null   object
 5   URL         801 non-null    object
dtypes: int64(1), object(5)
memory usage: 47.0+ KB

**No data transformation steps needed.**

# Data Cleaning

## Removing columns which are not relevant to this task

We can see that each dataset has an Unnamed: 0 column, which is equal to the index and hence can be removed.

In [58]:
reactions_df.columns

Index(['Unnamed: 0', 'Content ID', 'User ID', 'Type', 'Datetime'], dtype='object')

In [59]:
reactions_df = reactions_df.drop('Unnamed: 0', axis=1)
reactions_df

,Content ID,User ID,Type,Datetime
0,97522e57-d9ab-4bd6-97bf-c24d952602d2,NaN,NaN,2021-04-22 15:17:15
1,97522e57-d9ab-4bd6-97bf-c24d952602d2,5d454588-283d-459d-915d-c48a2cb4c27f,disgust,2020-11-07 09:43:50
2,97522e57-d9ab-4bd6-97bf-c24d952602d2,92b87fa5-f271-43e0-af66-84fac21052e6,dislike,2021-06-17 12:22:51
3,97522e57-d9ab-4bd6-97bf-c24d952602d2,163daa38-8b77-48c9-9af6-37a6c1447ac2,scared,2021-04-18 05:13:58
4,97522e57-d9ab-4bd6-97bf-c24d952602d2,34e8add9-0206-47fd-a501-037b994650a2,disgust,2021-01-06 19:13:01
...,...,...,...,...
25548,75d6b589-7fae-4a6d-b0d0-752845150e56,80c9ce48-46f9-4f5e-b3ca-3b698fc2e949,dislike,2020-06-27 09:46:48
25549,75d6b589-7fae-4a6d-b0d0-752845150e56,2bd9c167-e06c-47c1-a978-3403d6724606,intrigued,2021-02-16 17:17:02
25550,75d6b589-7fae-4a6d-b0d0-752845150e56,NaN,interested,2020-09-12 03:54:58
25551,75d6b589-7fae-4a6d-b0d0-752845150e56,5ffd8b51-164e-47e2-885e-8b8c46eb63ed,worried,2020-11-04 20:08:31
25552,75d6b589-7fae-4a6d-b0d0-752845150e56,4edc3d1a-a7d9-4db6-89c3-f784d9954172,cherish,2021-01-04 04:55:11

In [60]:
reaction_types_df = reaction_types_df.drop('Unnamed: 0', axis=1)

In [61]:
content_df = content_df.drop('Unnamed: 0', axis=1)

After further analysis, I've established that there are some more columns that are not required. These are in the reactions_df and in the content_df csvs.

In [62]:
reactions_df = reactions_df.drop(['User ID'], axis=1)

In [63]:
reaction_types_df.columns

Index(['Type', 'Sentiment', 'Score'], dtype='object')

In [64]:
content_df.columns

Index(['Content ID', 'User ID', 'Type', 'Category', 'URL'], dtype='object')

In [65]:
content_df = content_df.drop(['User ID', 'URL'], axis=1)

## changing the data type of some values within a column

### Datetime column

The Datetime will be split into year, month, day, and timestamp. This way the analysis can cover this information as well.

In [66]:
reactions_df.head()

                             Content ID     Type             Datetime
0  97522e57-d9ab-4bd6-97bf-c24d952602d2      NaN  2021-04-22 15:17:15
1  97522e57-d9ab-4bd6-97bf-c24d952602d2  disgust  2020-11-07 09:43:50
2  97522e57-d9ab-4bd6-97bf-c24d952602d2  dislike  2021-06-17 12:22:51
3  97522e57-d9ab-4bd6-97bf-c24d952602d2   scared  2021-04-18 05:13:58
4  97522e57-d9ab-4bd6-97bf-c24d952602d2  disgust  2021-01-06 19:13:01

In [67]:
reactions_df[['year','month','day']] = reactions_df['Datetime'].str.split("-", expand = True)
reactions_df.head()

,Content ID,Type,Datetime,year,month,day
0,97522e57-d9ab-4bd6-97bf-c24d952602d2,NaN,2021-04-22 15:17:15,2021,04,22 15:17:15
1,97522e57-d9ab-4bd6-97bf-c24d952602d2,disgust,2020-11-07 09:43:50,2020,11,07 09:43:50
2,97522e57-d9ab-4bd6-97bf-c24d952602d2,dislike,2021-06-17 12:22:51,2021,06,17 12:22:51
3,97522e57-d9ab-4bd6-97bf-c24d952602d2,scared,2021-04-18 05:13:58,2021,04,18 05:13:58
4,97522e57-d9ab-4bd6-97bf-c24d952602d2,disgust,2021-01-06 19:13:01,2021,01,06 19:13:01

In [71]:
reactions_df[['day','time']] = reactions_df['day'].str.split(" ",1, expand = True)
reactions_df

,Content ID,Type,Datetime,year,month,day,time
0,97522e57-d9ab-4bd6-97bf-c24d952602d2,NaN,2021-04-22 15:17:15,2021,04,22,15:17:15
1,97522e57-d9ab-4bd6-97bf-c24d952602d2,disgust,2020-11-07 09:43:50,2020,11,07,09:43:50
2,97522e57-d9ab-4bd6-97bf-c24d952602d2,dislike,2021-06-17 12:22:51,2021,06,17,12:22:51
3,97522e57-d9ab-4bd6-97bf-c24d952602d2,scared,2021-04-18 05:13:58,2021,04,18,05:13:58
4,97522e57-d9ab-4bd6-97bf-c24d952602d2,disgust,2021-01-06 19:13:01,2021,01,06,19:13:01
...,...,...,...,...,...,...,...
25548,75d6b589-7fae-4a6d-b0d0-752845150e56,dislike,2020-06-27 09:46:48,2020,06,27,09:46:48
25549,75d6b589-7fae-4a6d-b0d0-752845150e56,intrigued,2021-02-16 17:17:02,2021,02,16,17:17:02
25550,75d6b589-7fae-4a6d-b0d0-752845150e56,interested,2020-09-12 03:54:58,2020,09,12,03:54:58
25551,75d6b589-7fae-4a6d-b0d0-752845150e56,worried,2020-11-04 20:08:31,2020,11,04,20:08:31
25552,75d6b589-7fae-4a6d-b0d0-752845150e56,cherish,2021-01-04 04:55:11,2021,01,04,04:55:11

In [72]:
reactions_df = reactions_df.drop('Datetime', axis=1)

## Renaming some columns

In [73]:
reactions_df.head()

                             Content ID     Type  year month day      time
0  97522e57-d9ab-4bd6-97bf-c24d952602d2      NaN  2021    04  22  15:17:15
1  97522e57-d9ab-4bd6-97bf-c24d952602d2  disgust  2020    11  07  09:43:50
2  97522e57-d9ab-4bd6-97bf-c24d952602d2  dislike  2021    06  17  12:22:51
3  97522e57-d9ab-4bd6-97bf-c24d952602d2   scared  2021    04  18  05:13:58
4  97522e57-d9ab-4bd6-97bf-c24d952602d2  disgust  2021    01  06  19:13:01

In [99]:
reactions_df = reactions_df.rename(columns = {'Type':'reaction_type', 'Content ID':'content_ID'})

In [77]:
reaction_types_df.head()

         Type Sentiment  Score
0       heart  positive     60
1        want  positive     70
2     disgust  negative      0
3        hate  negative      5
4  interested  positive     30

In [97]:
reaction_types_df = reaction_types_df.rename(columns = {'Type':'reaction_type', 'Sentiment':'sentiment','Score':'reaction_score'})

In [82]:
content_df.head()

                             Content ID   Type        Category
0  97522e57-d9ab-4bd6-97bf-c24d952602d2  photo        Studying
1  9f737e0a-3cdd-4d29-9d24-753f4e3be810  photo  healthy eating
2  230c4e4d-70c3-461d-b42c-ec09396efb3f  photo  healthy eating
3  356fff80-da4d-4785-9f43-bc1261031dc6  photo      technology
4  01ab84dd-6364-4236-abbb-3f237db77180  video            food

In [98]:
content_df = content_df.rename(columns = {'Content ID':'content_ID','Type':'content_type','Category':'content_category'})

In [84]:
reactions_df.shape

(25553, 6)

In [85]:
reaction_types_df.shape

(16, 3)

In [86]:
content_df.shape

(1000, 3)

## Removing rows that have values which are missing

### Checking for duplicates

In [94]:
reactions_df.duplicated().value_counts()

False    25553
dtype: int64

In [93]:
reaction_types_df.duplicated().value_counts()

False    16
dtype: int64

In [92]:
content_df.duplicated().value_counts()

False    1000
dtype: int64

There are no duplicate values.

### Checking for NaN

In [105]:
reaction_types_df.isnull().sum()

reaction_type     0
sentiment         0
reaction_score    0
dtype: int64

In [106]:
content_df.isnull().sum()

content_ID          0
content_type        0
content_category    0
dtype: int64

In [100]:
reactions_df.isnull().sum()

content_ID         0
reaction_type    980
year               0
month              0
day                0
time               0
dtype: int64

In [104]:
print("Percentage of NaN values in the reactions_df:", 980/25553, "%")

Percentage of NaN values in the reactions_df: 0.03835166125308183 %

Even though the percentage of NaN values in the reactions_df is very low, as reaction_type will be included in this analysis, the NaN values will be removed.

In [107]:
reactions_df.dropna(inplace=True)

In [108]:
reactions_df.isnull().sum()

content_ID       0
reaction_type    0
year             0
month            0
day              0
time             0
dtype: int64

### Data checks

In [109]:
content_df.columns

Index(['content_ID', 'content_type', 'content_category'], dtype='object')

In [110]:
content_df.content_type.unique()

array(['photo', 'video', 'GIF', 'audio'], dtype=object)

In [111]:
content_df.content_category.unique()

array(['Studying', 'healthy eating', 'technology', 'food', 'cooking',
       'dogs', 'soccer', 'public speaking', 'science', 'tennis', 'travel',
       'fitness', 'education', 'studying', 'veganism', 'Animals',
       'animals', 'culture', '"culture"', 'Fitness', '"studying"',
       'Veganism', '"animals"', 'Travel', '"soccer"', 'Education',
       '"dogs"', 'Technology', 'Soccer', '"tennis"', 'Culture', '"food"',
       'Food', '"technology"', 'Healthy Eating', '"cooking"', 'Science',
       '"public speaking"', '"veganism"', 'Public Speaking', '"science"'],
      dtype=object)

In [119]:
content_df.content_category = content_df.content_category.str.replace('"', '').str.lower()

In [120]:
content_df.content_category.unique()

array(['studying', 'healthy eating', 'technology', 'food', 'cooking',
       'dogs', 'soccer', 'public speaking', 'science', 'tennis', 'travel',
       'fitness', 'education', 'veganism', 'animals', 'culture'],
      dtype=object)

In [121]:
reactions_df.columns

Index(['content_ID', 'reaction_type', 'year', 'month', 'day', 'time'], dtype='object')

In [122]:
reactions_df.reaction_type.unique()

array(['disgust', 'dislike', 'scared', 'interested', 'peeking', 'cherish',
       'hate', 'love', 'indifferent', 'super love', 'intrigued',
       'worried', 'like', 'heart', 'want', 'adore'], dtype=object)

In [123]:
reaction_types_df.columns

Index(['reaction_type', 'sentiment', 'reaction_score'], dtype='object')

In [124]:
reaction_types_df.reaction_type.unique()

array(['heart', 'want', 'disgust', 'hate', 'interested', 'indifferent',
       'love', 'super love', 'cherish', 'adore', 'like', 'dislike',
       'intrigued', 'peeking', 'scared', 'worried'], dtype=object)

In [125]:
reaction_types_df.sentiment.unique()

array(['positive', 'negative', 'neutral'], dtype=object)

In [128]:
reaction_types_df.reaction_score.unique()

array([60, 70,  0,  5, 30, 20, 65, 75, 72, 50, 10, 45, 35, 15, 12],
      dtype=int64)

# Data Modelling

Merge the three datasets into one. Order to follow: 
- reactions_df 
- content_df 
- reaction_types_df

In [132]:
reactions_df.columns

Index(['content_ID', 'reaction_type', 'year', 'month', 'day', 'time'], dtype='object')

In [133]:
content_df.columns

Index(['content_ID', 'content_type', 'content_category'], dtype='object')

In [134]:
content_df.head()

                             content_ID content_type content_category
0  97522e57-d9ab-4bd6-97bf-c24d952602d2        photo         studying
1  9f737e0a-3cdd-4d29-9d24-753f4e3be810        photo   healthy eating
2  230c4e4d-70c3-461d-b42c-ec09396efb3f        photo   healthy eating
3  356fff80-da4d-4785-9f43-bc1261031dc6        photo       technology
4  01ab84dd-6364-4236-abbb-3f237db77180        video             food

In [135]:
content_df.shape

(1000, 3)

In [136]:
reactions_df.head()

,content_ID,reaction_type,year,month,day,time
1,97522e57-d9ab-4bd6-97bf-c24d952602d2,disgust,2020,11,07,09:43:50
2,97522e57-d9ab-4bd6-97bf-c24d952602d2,dislike,2021,06,17,12:22:51
3,97522e57-d9ab-4bd6-97bf-c24d952602d2,scared,2021,04,18,05:13:58
4,97522e57-d9ab-4bd6-97bf-c24d952602d2,disgust,2021,01,06,19:13:01
5,97522e57-d9ab-4bd6-97bf-c24d952602d2,interested,2020,08,23,12:25:58

In [137]:
merged_df = reactions_df.merge(content_df, how='left', left_on='content_ID', right_on='content_ID')
merged_df

,content_ID,reaction_type,year,month,day,time,content_type,content_category
0,97522e57-d9ab-4bd6-97bf-c24d952602d2,disgust,2020,11,07,09:43:50,photo,studying
1,97522e57-d9ab-4bd6-97bf-c24d952602d2,dislike,2021,06,17,12:22:51,photo,studying
2,97522e57-d9ab-4bd6-97bf-c24d952602d2,scared,2021,04,18,05:13:58,photo,studying
3,97522e57-d9ab-4bd6-97bf-c24d952602d2,disgust,2021,01,06,19:13:01,photo,studying
4,97522e57-d9ab-4bd6-97bf-c24d952602d2,interested,2020,08,23,12:25:58,photo,studying
...,...,...,...,...,...,...,...,...
24568,75d6b589-7fae-4a6d-b0d0-752845150e56,dislike,2020,06,27,09:46:48,audio,technology
24569,75d6b589-7fae-4a6d-b0d0-752845150e56,intrigued,2021,02,16,17:17:02,audio,technology
24570,75d6b589-7fae-4a6d-b0d0-752845150e56,interested,2020,09,12,03:54:58,audio,technology
24571,75d6b589-7fae-4a6d-b0d0-752845150e56,worried,2020,11,04,20:08:31,audio,technology
24572,75d6b589-7fae-4a6d-b0d0-752845150e56,cherish,2021,01,04,04:55:11,audio,technology

In [139]:
merged_df.isnull().value_counts()

content_ID  reaction_type  year   month  day    time   content_type  content_category
False       False          False  False  False  False  False         False               24573
dtype: int64

In [140]:
reaction_types_df.head()

  reaction_type sentiment  reaction_score
0         heart  positive              60
1          want  positive              70
2       disgust  negative               0
3          hate  negative               5
4    interested  positive              30

In [141]:
clean_df = merged_df.merge(reaction_types_df, how='left', left_on='reaction_type', right_on='reaction_type')
clean_df

,content_ID,reaction_type,year,month,day,time,content_type,content_category,sentiment,reaction_score
0,97522e57-d9ab-4bd6-97bf-c24d952602d2,disgust,2020,11,07,09:43:50,photo,studying,negative,0
1,97522e57-d9ab-4bd6-97bf-c24d952602d2,dislike,2021,06,17,12:22:51,photo,studying,negative,10
2,97522e57-d9ab-4bd6-97bf-c24d952602d2,scared,2021,04,18,05:13:58,photo,studying,negative,15
3,97522e57-d9ab-4bd6-97bf-c24d952602d2,disgust,2021,01,06,19:13:01,photo,studying,negative,0
4,97522e57-d9ab-4bd6-97bf-c24d952602d2,interested,2020,08,23,12:25:58,photo,studying,positive,30
...,...,...,...,...,...,...,...,...,...,...
24568,75d6b589-7fae-4a6d-b0d0-752845150e56,dislike,2020,06,27,09:46:48,audio,technology,negative,10
24569,75d6b589-7fae-4a6d-b0d0-752845150e56,intrigued,2021,02,16,17:17:02,audio,technology,positive,45
24570,75d6b589-7fae-4a6d-b0d0-752845150e56,interested,2020,09,12,03:54:58,audio,technology,positive,30
24571,75d6b589-7fae-4a6d-b0d0-752845150e56,worried,2020,11,04,20:08:31,audio,technology,negative,12
24572,75d6b589-7fae-4a6d-b0d0-752845150e56,cherish,2021,01,04,04:55:11,audio,technology,positive,70

In [143]:
clean_df.isnull().sum()

content_ID          0
reaction_type       0
year                0
month               0
day                 0
time                0
content_type        0
content_category    0
sentiment           0
reaction_score      0
dtype: int64

In [146]:
clean_df.to_csv('social_buzz_clean_df.csv',index=False)